.dashboard-card-2 {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: rgb(243, 255, 255);
  /* background-image: linear-gradient(rgb(230, 221, 221),rgb(227, 227, 172),rgb(226, 245, 197)); */

}
.detail_card{
  background-color: rgb(240, 255, 218);

}

.details{
  text-align: center;
  font-size: 20px;
  height: 220px;
  /* margin: top 30px; */
  /* box-shadow: salmon 2px; */
}