<div class="card-container">
  <mat-card class="card card-total">
    <h2 class="number">{{ totalAttendance }}</h2>
    <p class="label">Total</p>
  </mat-card>
  <mat-card class="card card-present">
    <h2 class="number">{{ presentAttendance }}</h2>
    <p class="label">Present</p>
  </mat-card>
  <mat-card class="card card-absent">
    <h2 class="number">{{ absentAttendance }}</h2>
    <p class="label">Absent</p>
  </mat-card>
  <mat-card class="card card-percentage">
    <h2 class="number">{{ percentageAttendance }}%</h2>
    <p class="label">Percentage</p>
  </mat-card>
</div>
